.WhatClientSays{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.whatclientsays{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.WhatClientSays-Head{
    font-weight: 500;
    font-size: 40px;
    line-height: 60px;
    color: #000000;
    
}
.WhatClientSays-car{
    width: 1043px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}
.WhatClientSays-card{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.WhatClientSays-card .card-head-what{
    width: 1043px;
    height: 27.51px;
    background: #F7701D;
    margin-bottom: 0.5rem;
    border-radius: 20px 20px 0px 0px;
}
.WhatClientSays-card img{
    width: 122px;
    height: 122px;
    
}
.WhatClientSays-card .What-Name{
    font-weight: 500;
    font-size: 35px;
    line-height: 52px;
    color: #000000;
}
.WhatClientSays-card .What-loc{
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;
    margin-top: -2rem;
    color: rgba(96, 93, 93, 0.8);

}
.WhatClientSays-card .what-message-1{
    margin-top: -1rem;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
}
.WhatClientSays-card .what-message-2{
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    margin-top: -1rem;
    
}