.usefilter3_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 2rem;
}
.usefilter3_form{
    width: 100%;
}
.usefilter3_form form{
    width: 100%;
    /* gap: 2rem; */
}
form .checkboxRS{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-bottom: 2rem;
    margin: auto;
    margin-bottom: 2rem;
    /* border: 2px solid red; */
}
.checkboxRS_container{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 15rem;
}
.checkbpx_yes_container{
    gap:1rem;
}

.checkboxRS h3{
    color: #898787;
}

.form-row3{
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 1.5rem;
    
}
.form-row3 input{
    padding: .5rem;
    border: 2px solid #F7701D;
    border-radius: 10px;

}
